html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
em,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
form,
label,
table,
caption,
tr,
th,
td,
canvas,
footer,
header,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer,
header,
nav {
    display: block;
}

html,
body {
    font-family: 'Roboto', Helvetica, Arial, Sans-Serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: url("../imgs/christmas-dark.png");
}

body {
    color: white;
    line-height: 1;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#header {
    width: 100%!important;
    background-color: white;
    padding: 15px 0 0;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
    #header {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
    #header {
        max-width: 660px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
    #header {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
    #header {
        max-width: 700px;
    }
}

h1 {
    margin: 20px 0 30px;
    font-size: 30px;
    text-align: center;
}

canvas {
    cursor:crosshair;
}

#buttons, .top {
    float: left;
}
#buttons {
    width: 20%;
}